.editContainer {
    position: absolute;
    top: 50%;
}

.EditFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd8e3;
    margin: 20px 620px;
    width: 20vw;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    border-radius: 10px;
    font-weight: 600;
}

.EditFormDiv>form>button {
    background-color: #5c5470;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: #dbd8e3;
}

.formItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 5px;
}

.errors {
    color: red;
    list-style-type: none;
}

input {
    border-radius: 5px;
    font-weight: bold;
}
