body {
    overflow-x: hidden;
}

.homeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 5px;
}

.homeDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #dbd8e3;
    margin: 20px 620px;
    width: 50vw;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    border-radius: 10px;
    font-weight: 600;
}

/* .formDiv > form > button {
    background-color: #5c5470;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: #dbd8e3;
} */

img {
    border-radius: 10px;
}

.formItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 5px;
}
