.reviewContainer {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 30%);
}

.reviewFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd8e3;
    width: 25vw;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    border-radius: 10px;
    font-weight: bold;
}

.deleteButton {
    display: flex;
    justify-content: flex-end;
}

.reviewFormDiv > form > button {
    background-color: #5c5470;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: #dbd8e3;
}

.formItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 5px;
}
