img {
    margin: 5px;
}

.reviewInd {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 120px);
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    background-color: #dbd8e3;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.reviewInd > p {
    color: #5c5470;
    padding: 30px;
}

.reviewDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chairName {
    margin-left: 30px;
}

.containerDiv {
    display: flex;
    justify-content: center;
}

.selectedChairDiv {
    background-color: #dbd8e3;
    display: flex;
    justify-content: center;
    width: 90vw;
    border-radius: 10px;
    width: min-content;
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

p {
    margin: 5px;
    font-weight: bold;
}

.formDiv > form > button {
    background-color: #5c5470;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: #dbd8e3;
}

.delete {
    background-color: #5c5470;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: #dbd8e3;
}

.reviews {
    color: #dbd8e3;
}
/* .inner {
    position: absolute;
} */
/* .selectedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* img {
    border-radius: 10px;
}

.formItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 5px;
} */
