img {
    margin: 5px;
}

.selectedChairDiv {
    background-color: #dbd8e3;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    border-radius: 10px;

}

.inner {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

p {
    margin: 5px;
    font-weight: bold;
}

.formDiv > form > button {
    background-color: #5c5470;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: #dbd8e3;
}

.reviews {
    color: #dbd8e3;
}
/* .inner {
    position: absolute;
} */
/* .selectedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* img {
    border-radius: 10px;
}

.formItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 5px;
} */
